.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: var(--prgh-font-size);
  font-weight: var(--prgh-font-weight);
}
.heading {
  font-size: calc(var(--head-font-size) - 12px);
  color: var(--blue-clr);
  margin: auto;
  text-align: center;
}
.heading h4{
  font-weight: calc(var(--head-font-weight) - 200);
}
.accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.accordion button {
  font-size: var(--prgh-font-size);
  font-weight: var(--prgh-font-weight);
}
.accordionItem {
  max-width: 960px;
  margin: auto;
}
.accordionButton {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 16px;
  border: 0;
}
.accordionContent {
  padding: 16px;
  padding-top: 0;
}
.accordion > * {
  border-radius: 16px;
  max-height: 52px;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out;
  -o-transition: max-height 0.8s ease-in-out;
  -moz-transition: max-height 0.8s ease-in-out;
  -webkit-transition: max-height 0.8s ease-in-out;
  background-color: white;
}
.accordion button {
  background-color: var(--white-clr);
}
@media screen and (max-width: 860px) {
  .heading {
    width: 80%;
  }
}
@media screen and (max-width: 570px) {
  .accordion button {
    max-width: 432px;
  }
  .accordion > * {
    max-height: 72px;
  }
}
.active {
  max-height: 330px;
}
