.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper > :nth-child(1) {
  text-align: center;
}
.wrapper > :nth-child(1) h4 {
  font-size: calc(var(--head-font-size) - 12px);
  font-weight: calc(var(--head-font-weight) - 200);
  color: var(--blue-clr);
}
.wrapper > :nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper > :nth-child(2) > :nth-child(2) {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
  font-size: var(--prgh-font-size);
}
.wrapper > :nth-child(2) > :nth-child(2) button {
  padding: var(--btn-padding);
  color: var(--blue-clr);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  border-radius: var(--btn-border-radius);
  border: 1px solid var(--blue-clr);
  background-color: var(--white-clr);
  cursor: pointer;
  transition: color 0.4s, background-color 0.4s;
}
.wrapper > :nth-child(2) > :nth-child(2) button:hover {
  background-color: var(--blue-clr);
  color: var(--white-clr);
}
.wrapper > :nth-child(2) > :nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}
.wrapper > :nth-child(2) > :nth-child(1) > * {
  width: calc(33.33333333333333% - 21.4px);
}
@media screen and (max-width: 1100px) {
  .wrapper > :nth-child(2) > :nth-child(1) {
    gap: 64px;
  }
  .wrapper > :nth-child(2) > :nth-child(1) > * {
    width: calc(50% - 64px);
  }
}
@media screen and (max-width: 900px) {
    .wrapper > :nth-child(2) > :nth-child(1) {
      gap: 40px;
    }
    .wrapper > :nth-child(2) > :nth-child(1) > * {
      width: calc(52% - 64px);
    }
  }
  @media screen and (max-width: 800px) {
    .wrapper > :nth-child(2) > :nth-child(1) {
      gap: 20px;
    }
    .wrapper > :nth-child(2) > :nth-child(1) > * {
      width: 600px;
    }
  }
@media screen and (max-width: 768px) {
  .wrapper > :nth-child(2) > :nth-child(2) button:active {
    background-color: var(--blue-clr);
    color: var(--white-clr);
  }
}
