.wrapper {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: var(--prgh-font-size);
  font-weight: var(--prgh-font-weight);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-bottom: 10px;
  border-radius: 20px;
}
.wrapper > :nth-child(1) img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 200px;
}
.wrapper > :nth-child(2),
.wrapper > :nth-child(3) {
  margin-left: 10px;
}
.wrapper > :nth-child(4) {
  text-align: center;
}
.wrapper > :nth-child(2) {
  display: flex;
  gap: 10px;
}
.wrapper button {
  padding: var(--btn-padding);
  color: var(--white-clr);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  border-radius: var(--btn-border-radius);
  border: 1px solid var(--blue-clr);
  background-color: var(--blue-clr);
  cursor: pointer;
  transition: color 0.4s, background-color 0.4s;
}
.wrapper button:hover {
  background-color: var(--white-clr);
  color: var(--blue-clr);
}
@media screen and (max-width: 800px) {
  .wrapper > :nth-child(1) img {
    height: 250px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper button:hover {
    background-color: var(--white-clr);
    color: var(--blue-clr);
  }
}
.wrapper button{
  display: none;
}
